* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100vh;
}


/* to show the canvas bounds and remove scrollbars caused by it, if applicable */
canvas {
	display:block;
	background: linear-gradient(to bottom right, black, gray);
	position: fixed;
	z-index: -1;
	border: 0;
}

#particles-js canvas {
	display: block;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	width: 100vh;
	height: 100vh;
	position: fixed;
	z-index: -10;
	top: 0;
	left: 0
}


#head {
	background-color: #2F4F4F;
	color: #ffffff;
	padding: 15px;
	font-size: 20px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

#Home{
	top: 20px;
}

#Education{
	top: 80px;
}

#Projects{
	top: 140px;
}

#Contact{
	top: 200px;
}

#mySidenav a {
	position: fixed;
	left: -120px;
	transition: 0.3s;
	padding: 15px;
	width: 160px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 0 5px 5px 0;
	font-family: verdana;
}

#mySidenav a:hover {
	left: 0;
}

.nav_home {
	top: 30%;
}

.nav_education {
	top: 40%;
}

.nav_projects {
	top: 50%;
}

.nav_experience {
	top: 60%;
}

.nav_home, .nav_education, .nav_projects, .nav_experience{
	background-color: #2F4F4F;
	transition: 0.3s;
}

.nav_home:hover, .nav_education:hover, .nav_projects:hover, .nav_experience:hover{
	background-color: white;
	color: black;
}

.nav_home:active, .nav_education:active, .nav_projects:active, .nav_experience:active{
	background-color: #ddd;
}

.left{
	float: left;
	width: 30%;
	background:inherit;
	padding: 40px;
	text-align: center;
	color: white;
}

.right{
	float: left;
	width: 70%;
	background:inherit;
	padding: 60px 40px;
	color: white;
}

#profile {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	border-radius: 100%;
	width: 50%;
	height: 70%;
	background-color: inherit;
}

#profile:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: 0;
	background-color: #708090;
	color: #FFFFFF;
	text-align:center;
	padding:10px;
	margin-top:7px;
	font-size:12px;
}

#img_icon {
	height: 15%;
	width: 15%;
	border-radius: 0;
	padding-left: 5%;
}

#img_icon:hover{
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(0.5px);
}

ul {
	list-style-type: none;
	margin: auto;
	padding-right: 0;
	padding-top: 30px;
	overflow: hidden;
	text-align: center;
	top: 50%;
	bottom: 50%;
}

.list_item {
	float: left;
	padding-right: 10px;
}


/*Timeline*/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
	padding-top: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #FF9F55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.left_container {
	left: 0;
}

/* Place the container to the right */
.right_container{
	left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left_container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right_container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right_container::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
	color: black;
}

.custom_font{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left_container::after, .right_container::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right_container {
    left: 0%;
  }
}

/*end for timeline*/

/* for skills integration */

.container_skills{
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	color: white;
}

.java {width: 90%; background-color: #0000FF; color: black;}
.python {width: 80%; background-color: #008000; color: black;}
.html {width: 80%; background-color: #800000; color: black;}
.css {width: 65%; background-color: #FF00FF; color: black;}
.mysql {width: 80%; background-color: #00FF00; color: black;}
.json {width: 65%; background-color: #00FFFF; color: black;}
.kivy {width: 70%; background-color: #808000; color: black;}
.bash {width: 50%; background-color: #f44336; color: black;}
.cisco {width: 90%; background-color: #FF0000; color: black;}
.linux {width: 80%; background-color: #C0C0C0; color: black;}


/*end skills*/

@media screen and (max-width: 700px){
	.right{
		padding: 100px 40px;
	}
}

@media screen and (max-width: 400px) {
	.left, .right{
		width: 100%;
	}
	
	#head {
		font-size: 10px;
	}
	
	.right{
		padding: 100px 40px;
	}
}

@media only screen and (max-width:800px) {
	/* For tablets: */
	.main {
		width: 80%;
		padding: 0;
	}
	
	.right, .left {
		width: 100%;
	}
	
	.right{
		padding: 100px 40px;
	}
  
}


@media only screen and (max-width:500px) {
	/* For mobile phones: */
	.menu, .main, .left,.right {
		width: 100%;
	}
	.right{
		padding: 100px 40px;
	}
}
