* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
	height: 100vh;
}

main {
	//background: linear-gradient(to right left, black, darkgray);
}



#head {
	background-color: #2F4F4F;
	color: #ffffff;
	padding: 15px;
	font-size: 20px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

.tab {
    float: left;
    background-color: #2F4F4F;
    width: 20%;
	
	position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

/* Style the buttons inside the tab */
.tab button {
	
	width: 50vh;
    display: block;
    background-color: #2F4F4F;
    color: white;
	padding: 8px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
	

	
}

/* Change background color of buttons on hover */
.tab button:hover {
	left: 0;
    background-color: #ddd;
	/*width: 100%;*/
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #708090;
	width: 100%;
}

#Home{
	top: 20px;
    /*background-color: #4CAF50;*/
}

#Education{
	top: 80px;
    /*background-color: #2196F3;  Blue */
}

#Projects{
	top: 140px;
    /*background-color: #f44336; /* Red */
}

#Contact{
	top: 200px;
    /*background-color: #555 /* Light Black */
}




/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 20px;
    width: 60%;
    //height: 300px;
	overflow: hidden;
	color: #ffffff;
}

/*
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}

*/

.left{
	float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background:inherit;
    padding: 40px;
	text-align: center;
	color: white;
}

.right{
	float: left;
    width: 70%;
    height: 300px; /* only for demonstration, should be removed */
    background:inherit;
    padding: 40px;
	color: white;
	background-color
}
/*
.right {
	float: left;
    padding: 20px;
    width: 70%;
	color: white;
    height: 300px;
	/*
	background: inherit;
	overflow: hidden;
	border-radius: 8px;
	float: left;
	width: 20%;
	padding: 10px 15px;
	margin-top: 7px;
	*/
	
/*
  background-color: #2F4F4F;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
  color: #ffffff;
  

 
}

.right:before{
  content: " ";
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}

*/

#profile {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#profile:hover{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

form img{
	width: 50%;
	height: 50%;
	border-radius: 100%;
}

form{
	text-align: center;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right, .left {
    width: 100%;
  }
.left {
	padding-bottom: 50px;
}
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .left,.right {
    width: 100%;
  }
.left {
	padding-bottom: 50px;
}

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	box-sizing: 0;
	background-color: #708090;
	color: #FFFFFF;
	text-align:center;
	padding:10px;
	margin-top:7px;
	font-size:12px;
}


/* to show the canvas bounds and remove scrollbars caused by it, if applicable */
canvas {
    display:block;
    //background: rgb(33,36,50);
	background: linear-gradient(to bottom right, black, gray);
    position: fixed;
    z-index: -1;
	border: 0;
}

main {
    position: absolute;
}

body, html {
    height: 100vh
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100vh;
    height: 100vh;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/*Fly In Welcome*/

.fly-in-text {
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
	display: inline-block;
	margin-right: 2rem;
	font-family: Open Sans, Arial;
	font-weight: 300;
	font-size: 4rem;
	color: #fff;
	opacity: 1;
	transition: all 2.5s ease;
}

.fly-in-text li:last-child {
	margin-right: 0;
}

.fly-in-text.hidden li {
	opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }


@media screen and (max-width: 700px) {
  .tab {
    width: 100%;
    height: auto;
    position: relative;
	background: #2F4F4F;
	padding: 0;
  }
  .tab button {
	  float: left;
	  width: 100%;
  }
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
	.tab {
    width: 100%;
    height: auto;
    position: relative;
	background: #2F4F4F;
	padding: 0;
  }
  
  .tab button {
    text-align: center;
	width: 100%;
    float: none;
  }
  
  .left, .right{
	  width: 100%;
  }
  
  #head {
	  font-size: 10px;
  }
	
.left{
	padding-bottom: 50px;
}
  
}


#mySidenav a {
	position: fixed;
	left: -120px;
	transition: 0.3s;
	padding: 15px;
	width: 160px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	border-radius: 0 5px 5px 0;
	font-family: verdana;
}

#mySidenav a:hover {
	left: 0;
}

.nav_home {
    top: 30%;
}

.nav_education {
    top: 40%;
}

.nav_projects {
    top: 50%;
}

.nav_experience {
    top: 60%;
}

.nav_home, .nav_education, .nav_projects, .nav_experience{
	background-color: #2F4F4F;
	transition: 0.3s;
}

.nav_home:hover, .nav_education:hover, .nav_projects:hover, .nav_experience:hover{
	background-color: #708090;
}

.nav_home:active, .nav_education:active, .nav_projects:active, .nav_experience:active{
	background-color: #ddd;
}

#img_icon {
	height: 20%;
	width: 20%;
	border-radius: 0;
}

#img_icon {
	height: 15%;
	width: 15%;
	border-radius: 0;
	padding-left: 5%;
}

#img_icon:hover{
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(0.5px);
}


ul {
	list-style-type: none;
	margin: auto;
	padding-right: 0;
	padding-top: 30px;
	overflow: hidden;
	text-align: center;
	top: 50%;
	bottom: 50%;
}

.list_item {
	float: left;
	padding-right: 10px;
}
